.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

    background: transparent;

    transition: background-color .2s;

    .nav {
        height: var(--header-height);
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            width: 1.5rem;
        }

        .toggle {
            font-size: 1.2rem;
            color: var(--white-color);
            cursor: pointer;
        }

        .menu {
            @media screen and (max-width: 767px) {
                background-color: var(--body-color);
                
                position: fixed;
                top: -100%;
                left: 0;

                width: 100%;

                padding: 4rem 0 3rem;

                transition: .4s;
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
        }

        .link {
            color: var(--white-color);
            font-size: var(--h2-font-size);
            text-transform: uppercase;
            font-weight: var(--font-semi-bold);

            background: var(--text-gradient);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;

            &:hover {
                background: var(--white-color);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }


        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;

            font-size: 1.5rem;
            color: var(--white-color);

            cursor: pointer;
        }
        
        .showmenu {
            top: 0;
        }
    }
    
}

/*change header's background-color when I do the scroll down*/
.scrollHeader {
    background-color: var(--body-color);
}
