.discount {
    &__container {
        position: relative;
        
        background-color: var(--container-color);
        
        padding: 2rem 1.5rem;
        
        border-radius: .75rem;

        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        }

        @media screen and (min-width: 767px) {
            grid-template-columns: 250px max-content;
            justify-content: center;
            column-gap: 5rem;
            padding: 3rem 0;
        }
    }

    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-75);

        @media screen and (min-width: 767px) {
            font-size: var(--h2-font-size);
            margin-bottom: var(--mb-1);
        }
    }

    &__description {
        margin-bottom: var(--mb-1);

        @media screen and (min-width: 767px) {
            margin-bottom: var(--mb-2);
        }
    }

    &__img {
        width: 300px;
        
        position: absolute;
        top: 4rem;
        right: -11rem;

        @media screen and (min-width: 576px) {
            position: initial;
        }

        @media screen and (min-width: 1024px) {
            width: 350px;
        }
    }
}